#title-area{
    text-align: center;
}

#site-title {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-size: 120px;
    /*line-height: 1.2;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*font-weight: 600;*/
    color: #e3cbcb; !important;
}

#big-title {

}

#main-img {
    box-shadow: -15px 15px #d7cbbd;
}

.navbar-content {
    padding: 10px 0 10px 0
}

.icon {
    max-width: 120px;
}
.icon-col{
    text-align: center;
}