<section class="justify-content-center p-3 p-sm-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-sm icon-col">
                <a href="{{.Site.BaseURL}}/gallery/art">
                    <img width="120" height="120"
                         src="{{.Site.BaseURL}}img/drawing.png"
                         class="icon" alt="Art Icon"/>
                </a>
            </div>
            <div class="col-sm icon-col">
                <a href="{{.Site.BaseURL}}/gallery/photography">
                    <img width="120" height="120"
                         src="{{.Site.BaseURL}}img/photo.png"
                         class="icon" alt="Photography Icon"/>
                </a>
            </div>
            <div class="col-sm icon-col">
                <a href="{{.Site.BaseURL}}/gallery/travel">
                    <img width="120" height="120"
                         src="{{.Site.BaseURL}}img/travel.png"
                         class="icon" alt="Travel Icon"/>
                </a>
            </div>
        </div>
    </div>
</section>