<header class="justify-content-center p-3 p-sm-5">
    <div class="container-xl mt-5">
        <div class="row align-items-center mb-3">
            <div class=" col-xl-4">
                <div id="title-area">
                    <h1 id="site-title">Lena</h1>
                    <p id="site-description">A Modern &amp; Feminine WordPress Theme</p>
                </div>
            </div>
            <div class=" col-xl-8 ">
                <div class="border-top border-bottom" style="padding-left: 0;padding-right: 0">
                    <nav class="navbar navbar-expand-lg navbar-light p-0" style="justify-content: center">

                        <button id="menu-button" style="height: 100%;width: 100%" class="navbar-content navbar-toggler border-0"
                                type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="true" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <div class="collapse navbar-collapse navbar-content" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{.Site.BaseURL}}">Home<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{.Site.BaseURL}}/gallery/travel">Travel</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{.Site.BaseURL}}/gallery/photography">Photography</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{.Site.BaseURL}}/gallery/art">Art</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>